.spinner {
	position: absolute;
	top: calc(50% - 12px);
	left: calc(50% - 12px);
	width: 24px;
	height: 24px;
	animation: spinner 1.8s infinite linear;
}

.spinner::before {
	content: '';
	display: block;
	height: 24px;
	width: 4.8px;
	animation: spinner 0.7s infinite;
	background: #000000;
	position: absolute;
	left: 50%;
	margin-left: -2.4px;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}